div( style= { 'font-family': 'verdana, sans serif' } )
	link( type='text/css' rel='stylesheet' href='https://cdn.jsdelivr.net/gh/yannick9letallec/cartes_ange/app/css/emails.css' crossorigin='anonymous' )
	include ./header_email.pug
	div 
		div 
			section 
				div
					section#carte
							article
								header
									span  Votre carte #{ tirage } : #{ nom_carte.toUpperCase() } 
									br
									span  Dates : #{ carte.Dates } 
									br
									span  Ange : #{ carte.Ange } 
									br
									span  Sephirot : #{ carte.Sephirot } 
								.carte_afficher_detail
									span.carte_ange_grand_format
										img(alt=`Carte dédiée à l' ange : ${ carte.Ange }, et à son message` src=`https://raw.githubusercontent.com/yannick9letallec/cartes_ange/master/app/img/cartes/PNG/${ nom_carte }.png` )
									span
										mark  Message : 
										| #{ carte.text }
										br
										br
									span
										mark  Plan Physique :
										|  #{ carte[ 'Plan physique' ] }
									br
									br
									span
										mark  Plan Emotionnel : 
										|  #{ carte[ 'Plan émotionnel' ] }
									br
									br
									span
										mark  Plan Spirituel : 
										|  #{ carte[ 'Plan spirituel' ] }
									br
								br
	include footer_email.pug
